<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcxMabWHKI2p5NFv6y8TFNOvlKf4ZW2yU</string>
	<key>GCM_SENDER_ID</key>
	<string>951644601154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cse19kuet.ICU-Bed-Finder</string>
	<key>PROJECT_ID</key>
	<string>icubedfinder</string>
	<key>STORAGE_BUCKET</key>
	<string>icubedfinder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951644601154:ios:4be46d39e0beb9ead9a6db</string>
</dict>
</plist>